/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
}

html, body {
    height: 100%;
	font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
	margin-bottom: 15px;
}

h1 {
	font-size: 3.5vh;
}

h2 {
	font-size: 2.3vh;
}

header {
	width: 100%;
	display: flex;
	justify-content: center;
	padding-top: 2%;
	padding-bottom: 1%;
}

nav {
	display: flex;
	justify-content: space-between;
	width: 60%;
}


ul {
	width: 60%;
	display: flex;
	justify-content: space-between;
	padding-top: 1.5%;
}

ul li a {
	text-decoration: none;
	color: silver;
}

#logo {
	width:20%;
}

.logo {
	width: 100%;
}

.firstpic {
	width: 100%;
	display: flex;
	justify-content: center;
}

.services-header-img {
	width: 60%;
}

#sintro {
	width: 60%;
	margin: 2.5% 0% 1% 20%;
	padding-bottom: 2.5%;
	border-bottom: 1.5px solid black;
}

.serv {
	width: 100%;
	display: flex;
	justify-content: center;
	align-content: center;
}

.box {
	width: 29%;
	background-color: rgb(247, 247, 247);
	padding: 1.5%;
	margin: 1%;
	border: 1.5px solid black;
}

button {
    width: 30%;
    border: black solid 1.5px;
    border-radius: 5px;
	background-color: white;
	color: black;
	font-family: 'Titillium Web', sans-serif;
    padding: 1%;
    margin-top: 5%;
}

#facts {
	border-top: solid black 1.5px;
	margin: 1% 20% 1% 20%;
	padding-top: 2%;
	display: flex;
}

.fhalf {
	padding-right: 5%;
}

#facts .fhalf ul{
	padding-top: 5%;
	display: flex;
	flex-direction: column;
	list-style-type: square;
	list-style-position: inside;
}

#cr {
	margin: 5% 0% 3% 0%;
	text-align: center;
}


